<div id="primary">
	<p>If you've got a problem using the site then the answer should be around
		here somewhere.</p>
		
	<h2>Public site use</h2>
	
	<h3>Doing something</h3>
	<p>...</p>
	
	<h3>Doing something else</h3>
	<p>...</p>
		
	<h2>Site administration</h2>
	
	<h3>Doing something</h3>
	<p>...</p>
	
	<h3>Doing something else</h3>
	<p>...</p>

</div>

<div id="secondary">
	<h2>Common issues</h2>
	<ul class="current">
		<li><%= link_to "Formatting text", help_url(:action => 'formatting_text') %></li>
		<li><%= link_to "Importing content", help_url(:action => 'importing_content') %></li>
		<li><%= link_to "Exporting content", help_url(:action => 'exporting_content') %></li>
	</ul>
	
	<h2>All done?</h2>
	<ul>
		<li><%= link_to "Home", home_url %></li>
	</ul>
</div>