<h1><%= @team.title %></h1>

<div id="primary">
	Hello
</div>

<div id="secondary">
	<h2>Stuff</h2>
	<ul>
		<li>Fixtures</li>
		<li>Players</li>
		<li>Notices</li>
	</ul>	
	
	<h2>All done?</h2>
	<ul>
		<li><%= link_to 'Return to home', :action => 'home' %></li>
	</ul>
</div>