<div id="primary">
	<%= render :partial => 'forms/season' %>
</div>

<div id="secondary">
	<h2>Tips</h2>
	<p>A season represents the state of your organisation for a particular
		period of time. You can only ever edit data for the current season.
		Seasons are typically named after the period of time they cover - e.g.
		'2005-2006' or 'Winter 2006'.</p>
	
	<p>When you create competitions for your organisation they are associated
		with a season. This means you can have different competitions over time.</p>

	<h2>Cancel?</h2>
	<ul>
		<li><%= link_to 'Return', home_url() %></li>
	</ul>
</div>