<h1><%= @notice.heading %></h1>

<div id="primary">
	<h2>Thank you</h2>
	<p>Your comment has been saved.</p>
	<p><%= link_to 'Return to the notice with you fresh comment displayed', 
		organisation_url(:action => 'notice', :anchor => 'comment') %></p>
</div>

<div id="secondary">
	
</div>