<ul>
  <% if @teams.size > 0 %><li>Teams</li><% for team in @teams %>
  <li><%= link_to team.title, team_url(:id => team) %></li><% end; end %>
  <% if @competitions.size > 0 %><li>Competitions</li><% for competition in @competitions %>
  <li><%= link_to competition.title, competition_url(:competition_slug => competition) %></li><% end; end %>
  <% if @pages.size > 0 %><li>Information</li><% for page in @pages %>
  <li><%= link_to page.title, organisation_url(:action => 'information', :slug => page) %></li><% end; end %>
  <% if @notices.size > 0 %><li>Notices</li><% for notice in @notices %>
  <li><%= link_to notice.heading, organisation_url(:action => 'notices', slug => notice) %></li><% end; end %>
</ul>