<% cache do %>
<div id="primary">
  <div class="day">
    <%= render :partial => 'partials/fixtures',
          :object => @competition.matches_for_day(@date) %>
  </div>
</div>
<% end %>

<div id="secondary">
  <%= render :partial => 'partials/competition_menu' %>
</div>