<% cache do %><% for day in @competition.match_days_for_month(@date) %>
  <div class="day">
    <h2><%= day.pretty_date %></h2>
    <%= render :partial => 'partials/matches',
          :object => @competition.matches_for_day(day.date)%>
  </div><% end %>
<% end %>
