<% if authorised? -%>
  <div class="standout">
    <p>Use this page to describe your organisation.
      <%= link_to 'Edit organisation...', edit_organisation_url, :class => 'admin button' %>
      <%= link_to 'Add new page...', new_information_page_url, :class => 'admin button'  %>
    </p>
  </div>
<% end -%>

<%= safely_display @organisation.summary %>