<div id="primary">
	<%= render_partial 'forms/page' %>
</div>

<div id="secondary">
	<h2>Tips</h2>
	<p><strong>Information Pages</strong> are used to give more information
		about your organisation.</p>
	
	<h2>Cancel?</h2>
	<ul>
		<li><%= link_to 'Return to main information page', information_url %></li>
	</ul>
</div>