<p class="tabs">
	<a href="#" id="in-content-tab" onclick="showInput(); return false;" class="active">Text input</a>
	<a href="#" id="in-content-preview-tab" onclick="showPreview(); return false;">Preview</a>
</p><div id="in-content-preview" class="textarea initially_hidden"></div>