<table class="games fixtures" cellpadding="0" cellspacing="0" summary="List of fixtures.">
	<tbody><% previous_hierarchy = ''; for game in fixtures %>
    <% if (!@stage && game.hierarchy != previous_hierarchy) || !fixtures.all? { |fixture| fixture.hierarchy == fixtures.first.hierarchy } -%>
    <% previous_hierarchy = game.hierarchy -%>
    <tr>
      <th class="hierarchy" colspan="5"><%= link_to game.hierarchy, stage_url(:competition => game.competition, :stage => game.stage, :anchor => game.group.slug) %></th>
    </tr>
    <% end %>
	<tr>
    <td class="where"><a href="/the-rec">The REC</a></td>
		<td class="home team"><%= if game.home_team then link_to(game.home_team.title, team_url(:team => game.home_team)) else '-to be arranged-' end %></td>
		<td class="versus">v</td>
		<td class="away team"><%= if game.away_team then link_to(game.away_team.title,	team_url(:team => game.away_team)) else '-to be arranged-' end  %></td>
	  <td class="when"><%= game.pretty_time %></td>
  </tr><% end %>
	</tbody>
</table>