<h2>Text formatting tips</h2>
<p>
	<strong>Subheading</strong>: h2. heading text<br>
	<strong>Sub-subheading</strong>: h3. heading text<br>
	<strong>Blockquote</strong>: bq. quoted text<br>
	<strong>Numeric list</strong>: # list item text<br>
	<strong>Bulleted list</strong>: * list item text<br>
	_emphasis_<br>
	*strong*<br>
	"example link":http://www.example.com
</p>