table.calendar {
	margin: 0 2px 2em 2px;
	background: #EEE;
	border: 2px solid #DDD;
	float: left;
	width: 32%;
}

table.calendar caption {
	font-weight: bold;
	padding-bottom: 4px;
	font-size: 1em;
}

table.calendar th {
	text-align: center;
}

table.calendar td {
	line-height: 1.4em;
	color: #999;
	background: #FFF;
	text-align: center;
	font-size: 1.1em;
}

table.calendar td.outmonth {
	color: #EEE;
	background: #F8F8F8;
}

div#secondary table.calendar td.active {
	color: #900;
}
