form {
	margin: 1em 0 2em 0;
	padding: 0;
}

p.warning {
	color: #333;
	font-size: medium;
	font-weight: bold;
	background: url(/images/alert_big.gif) no-repeat left center;
	padding: 10px 10px 10px 38px;
	margin: 1em 0 0 0;
}

form fieldset {
	clear: both;
	margin: 0 0 1em 0;
	padding: 0.5em 1em 0 1em;
	border: 4px solid #EEE;
	background: url(/images/dither.gif);
}

form legend {
	display: none;
}

form label {
	display: block;
	color: #900;
	font-size: medium;
}

form p {
	margin: 0;
}

form p.hint {
	color: #666;
	line-height: 1.2em !important;
	text-align: left !important;
	font-size: 0.85em;
}

form div.formError {
	font-size: small;
	background: #FF9;
	padding: 4px;
}

div.fieldWithErrors * {
	border:2px solid #900;
}

form fieldset.finish {
	padding: 0.5em 0.5em 0.5em 0.5em;
	text-align: right;
}

form fieldset.finish legend {
	display: none;
}

form .textfield,
form .textarea {
	width: 100%;
	color: #333;
	margin-bottom: 1em;
	font-size: small;
}

form fieldset select {
	width: 100%;
	margin-bottom: 1em;
}

form.fixtures select {
	width: auto;
	margin: 6px 2px;
}

form fieldset input.fileupload {
	margin: 0.25em 0 1em 0;
}

form.fixtures p {
	margin-bottom: 0.5em;
}

p.reminder {
	margin: 0.3em 0 0em 0;
	color: #999;
	text-align: center;
}

form.fixtures td input {
	font-size: small;
	width: 30px;
	margin: 6px 2px;
}

form.fixtures table {
	margin: 0.25em 0 1em 0;
}

form.fixtures tbody tr td {
	border-bottom: 1px solid #CCC;
}

form .important {
	font-size: large;
}

form fieldset.finish input {
	font-size: large;
	cursor: hand;
	cursor: pointer;
	width: auto;
}

form td,
form th {
	white-space: nowrap;
}


table.results .team {
  font-size: medium;
}

input.score {
	width: 40px;
	font-size: large;
}

input.notes {
	width: 120px;
}

input.points {
	width: 40px;
}

textarea.summary {
  width: 100%;
  margin-bottom: 10px;
}

