table.standings,
table.games {
	margin: 0;
	width: 100%;
	border-bottom: 1px solid #999;
	clear: both;
}

table.nohead thead {
	display: none;
}

table thead th {
	text-align: left;
	font-size: smaller !important;
	background: #999;
	color: #FFF;
	background: url(/images/header.gif) center;
}

table.games tbody th {
	background: #FFF;
	text-align: left;
	padding: 32px 0 0 0;
	border-top: 1px solid #E99;
	border-bottom: 1px solid #E99;
}

table.games tbody tr.heading1 th {
	border-top: none;
	padding-top: 8px;
}


table.standings td,
table.games td {
	padding: 4px 3px;
}

table.standings th,
table.games th {
	padding: 2px 3px;
}

table.standings td.stat,
table.standings th.stat {
	width: 6%;
	/* font-size: smaller; */
	text-align: right;
	padding: 3px 5px 3px 1px;
}

table.standings th.stat,
table.standings th.team {
	padding: 0 5px 0 4px
}

table.games tr.homewin td.home,
table.games tr.awaywin td.away {
	font-weight: bold;
}

table tr.even td {
	border-top: 1px solid #EEE;
	background: url(/images/dither.gif);
}

table tr.odd td {
	border-top: 1px solid #EEE;
}

table tr.noedge td {
	border-top: none;
}

table tr.summary td {
	border-top: none;
	text-align: left;
	color: #666;
	font-size: smaller;
	padding: 2px 90px 8px 90px;
}

table tr.short td {
  text-align: center;
}


table tr.notes td {
	border-top: none;
	text-align: center;
	color: #666;
	font-size: smaller;
	padding: 0;
}

table tr.auto-promote td {
	background-image: url(/images/autopromote_bg.png);
}

table tr.auto-relegate td {
	background-image: url(/images/autorelegate_bg.png);
}

.pos {
	width: 2%;
	text-align: right;
}

.versus {
	text-align: center;
	font-size: smaller;	
	color: #999;
	width: 2%;
	padding: 3px 2px 0px 2px;
}

td.when {
	text-align: left;
	color: #999;
	width: 9%;
	white-space: nowrap;
	font-size: smaller;
}

.home {
	text-align: right !important;
	font-size: 1.1em;
}

.away {
	text-align: left !important;
	font-size: 1.1em;
}

.team {
	width: 35%;
	white-space: nowrap;
	overflow: hidden;
	font-size: larger;
}

.score {
	width: 5%;
	font-size: large;
}

th.score {
	text-align: center;
	color: #999;
}