html {
  border-top: 3px solid #900;
}

body {
  color: #333;
  padding: 40px 32px 20px 16px;
  margin: 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  background: #FFF url(/images/body.gif) no-repeat fixed bottom right;
  border-top: 3px solid #FCC;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  color: #999;
}

h1 {
  color: #900;
  padding: 0.8em 0 0.2em 50px;
  margin: 0 35% 10px 0;
  font-size: 1.8em;
  background: url(/images/logo.gif) no-repeat left;
}

h2 {
  margin: 0;
  line-height: 1.5em;
}

h2 a.admin {
	font-size: small;
}

h3 {
  clear: both;
  margin: 0 0 0.2em 0;
}

p {
	margin: 0.5em 0 1em 0;
}

a {
  color: #090;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #900 !important;
  text-decoration: underline;
}

hr {
  height: 1px;
  clear: both;
	border: none;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

#primary p {
  line-height: 1.4em;
}

blockquote {
  clear: both;
  font-size: 1.2em;
  font-style: italic;
  padding: 1em;
  margin: 0 3em;
  color: #900;
  text-align: center;
}

div#secondary {
  font-size: 0.9em;
}

div#secondary h2 {
  margin: 0 0 0.2em 0;
  font-size: 1.2em;
}

div#secondary ul {
  margin: 0 0 2em 0;
  padding: 0;
}

div#secondary li {
  display: block;
  margin: 0.3em 0;
  padding: 0 0 0 15px;
  background: url(/images/bullet_light.gif) no-repeat top left;
  color: #900;
  font-weight: bold;
  line-height: 14px;
}

div#secondary ul.current li {
  margin: 0.6em 0;
  font-size: 1.1em;
  background: url(/images/bullet.gif) no-repeat top left;
}

div#secondary ul.current li a {
  color: #090;
}

div#secondary li a {
  font-weight: normal;
  color: #696;
}

#secondary p {
  margin: 0 0 2em 0;
  color: #999;
}

p.notify {
  padding: 3em;
  border: 2px solid #EEC;
  background: #FFE;
  font-weight: bold;
  font-size: medium;
  text-align: center;
}

div.group {

}

  div.stage_with_groups div.group {
    float: left;
    width: 48%;
  }
  
	div.stage_with_groups div.odd {
    clear: both;
  }

  div.stage_with_groups div.even {
    float: right;
  }

div.article {
	padding-bottom: 0em;
}

	div.article h3 {
		margin: 1em 0 0 0;
		padding: 0;
		color: #900;
	}

	div.article p {
		margin: 0 0 0.5em 0;
		padding: 0;
	}

p.admin {
  margin-top: 0.5em;
  text-align: right;
}

.admin a, a.admin {
  background: #FFD;
}

div.standout {
  padding: 10px;
  background: #FFE;
  border: 2px solid #EED;
  margin-bottom: 2em;
  font-weight: bold;
}

div.standout p {
  margin: 0;
  padding: 0;
}

div.posts {
  border-top: 2px solid #EEE;
  padding-top: 1em;
}

div.post {
  clear: both;
  border-bottom: 2px solid #EEE;
  padding: 0;
  margin-bottom: 1em;
}

h2.post {
	margin-left: -24px;
  padding-left: 24px;
  background: url(/images/post.gif) no-repeat 0.2em left;
	line-height: 1.2em;
	margin-bottom: 0.4em;
}

div.image {
  float: right;
  margin: 1em 0 0.5em 0.5em;
  border: 1px solid #CCC;
  padding: 3px;
  text-align: center;
  font-size: smaller;
}

div.post div.image img {
  display: block;
}

div.comments h3 {
  width: 24%;
  float: left;
  text-align: right;
}

div.comments h3 span {
  color: #999;
  font-size: x-small;
  display: block;
  margin-bottom: 5px;
}

div.comments p {
  float: right;
  width: 74%;
  margin: 1px 0 1em 0;
}

div.comment {
  clear: both;
  border-top: 1px dotted #EEE;
  padding-top: 1em;
}

p.credit {
  margin: -0.5em 0 -0.5em 0;
  color: #999;
  text-align: left;
}

p.more {
  margin-top: 0;
  text-align: right;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

div#foot p {
  margin: 0;
  line-height: 1.5em;
}

div.clear {
  clear: both;
}