body {
  color: #333;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  background: #FFF;
}

#container {
  
}

div#mast {
  padding: 15px 0 0 0;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  width: 750px;
  position: relative;
}

div#logo {
  text-align: right;
  float: right;
  font-size: 26px;
}

div#menu {
  float: left;
  color: #EEE;
  text-align: left;
  overflow: hidden;
  margin: 20px 0 0 0;
  border-left: 1px dotted #CCC;
}
  
  div#menu a {
    display: block;
    float: left;
    text-align: left;
    padding: 0 8px 0;
    font-weight: bold;
    border-right: 1px dotted #CCC;
  }
  
  div#menu a:hover {
    font-size: 1em;
    text-decoration: none;
  }

#content {
  padding: 0 15px 15px 15px;
  background: #FFF;
  z-index: 2;
  margin: 15px auto 0 auto;
  text-align: left;
  overflow: hidden;
  width: 750px;
  position: relative;
}

div#foot {
  clear: both;
  padding: 2em 0 1em 0;
  color: #EEE;
  text-align: center;
}

  div#foot p {
    margin: 0;
  }

  div#foot a {
    color: #CCC;
  }

#blurb {
  float: left;
  width: 25%;
  margin: -15px -15px -1000px -13px;
  padding: 15px 15px 1000px 15px;
}

  #blurb p {
    color: #666;
  }

#focus {
  float: right;
  width: 70%;
}

  #focus strong {
    color: #900;
    font-weight: normal;
  }

  #focus a {
    text-decoration: underline;
  }

#organisation_title {
  font-size: 1.4em;
}

h1, h2, h3, h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 1em 0 1em 0;
}

h1 {
  font-size: x-large;
  padding-bottom: 2px;
  border-bottom: 1px dotted #CCC;
  color: #999;
}

h2 {
  font-size: x-large;
  padding-bottom: 2px;
  border-bottom: 1px dotted #CCC;
  color: #900;
}

h3 {
  color: #000;
  margin-bottom: 0.2em;
  font-size: 1.4em;
}

hr {
  clear: both;
  height: 0px;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

p {
  margin: 0 0 1em 0;
}

  #blurb p,
  #focus p {
    line-height: 1.4;
  }

p.screenshot {
  margin: -0.5em 0 1em 0;
  text-align: center;
}

span.logotype-team {
  color: #090;
  font-weight: bold;
  font: 1em Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  background: none;
  letter-spacing: 0;
}

span.logotype-squad {
  color: #900;
  font-weight: bold;
  vertical-align: 20%;
  font: 1em Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  background: none;
  letter-spacing: 0;
}

span.tagline {
  display: block;
  font-size: 11px;
  color: #CCC;
}

a {
  color: #090;
}

a:visited {
  text-decoration: none;
}

body.index a.index,
body.about a.about,
body.features a.features,
body.register a.register,
body.search a.search,
body.contact a.contact {
  color: #900;
  cursor: default;
}

a:hover {
  color: #900 !important;
  text-decoration: underline;
}

dl {
  margin: 1em 0;
  padding: 0;
}

  dl dt {
    margin: 0 0 0.25em 0;
    padding: 0;
    font-size: medium;
  }
  
  dl dd {
    padding: 0;
    margin: 0 0 1em 0;
  }

dl.features {

}

  dl.features dt {
    margin: 0;
    height: 1.2em;
    overflow: visible;
    color: #900;
  }
  
  dl.features dd:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
  }
  
  dl.features dt img {
    float: left;
    margin-right: 8px;
  }

ul.organisations {
  display: block;
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

  ul.organisations li {
    display: inline;
  }

div#splash {
  margin: 0 0 0 0;
  background: #1B1813 url(/images/splash.jpg) no-repeat left center;
  color: #FFF;
  padding: 18px 0;
}

div#splash h1,
div#splash h2 {
  line-height: 120%;
  margin: 20px 50px 0 260px;
  padding: 0;
  color: #FFF;
  background: none;
  border: none;
  font-size: 24px;
  display: block;
  letter-spacing: 2px;
}

div#splash p {
  text-align: right;
  margin: 0;
  padding: 6px 24px 0 0;
  font-size: 16px;
}

div.box {
  margin: 16px 0 0 0;
  position: relative;
  border-bottom: 1px dotted #CCC;
}

  div#why-players {
    float: left;
    width: 48%;
  }

  div#why-organisers {
    float: right;
    width: 48%;
  }
  
  div.box h2 {
    margin: 0;
    padding-bottom: 2px;
    border-bottom: 1px dotted #CCC;
  }

  div#why-players img,
  div#why-organisers img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
  }

  div.box p {
    position: relative;
    z-index: 10;
    padding-right: 100px;
    margin: 0.5em 0;
    line-height: 1.4em;
  }
  
  div#why-players a,
  div#why-organisers a {
    display: block;
    background: url(/images/bg_arrow.gif) no-repeat left;
    line-height: 36px;
    padding-left: 6px;
  }

form {
  margin: 0;
  padding: 0;
}

/* ******** NORMAL FORMS ******** */

p.warning {
  color: #900;
  font-weight: bold;
  background: url(/images/alert_big.gif) no-repeat left center;
  padding: 0.6em 0 0.6em 36px;
  border: none;
}

form.standard {
  margin: 2em 0;
  padding: 0;
}

form.standard fieldset {
  clear: both;
  margin: 0 0 1em 0;
  padding: 1em 1em 0 1em;
  border: 1px solid #CCFFCC;
  background: #F8FFF8;
}

form.standard legend {
  display: none;
}

form.standard label {
  display: block;
  font-weight: bold;
  color: #333;
  padding: 1px 5px 0 0;
  font-size: larger;
}

form.standard  p {
  margin: 0;
  clear: both;
}

form.standard  p.hint {
  color: #666;
  font-size: x-small;
  padding: 0 0 0.25em 0em;
}

form.standard fieldset p.warning {
  color: #900;
  font-size: x-small;
  font-weight: bold;
  background: url(/images/alert_small.gif) no-repeat left center;
  padding: 0.4em 0 0.4em 20px;
  border: none;
  margin: 0;
}

form.standard fieldset input,
form.standard fieldset select,
form.standard fieldset textarea {
  width: 100%;
  margin-bottom: 1em;
}

form.standard input#organisation_nickname {
  width: 140px;
  text-align: right;
  margin-right: none;
}

form.standard fieldset.finish {
  padding: 1em;
  text-align: right;
}

form.standard fieldset.finish legend {
  display: none;
}

form.standard fieldset.finish input {
  font-size: large;
  cursor: hand;
  cursor: pointer;
  width: auto;
  margin: 0;
}