<div id="primary">
	<%= render :partial => 'forms/stage' %>
</div>

<div id="secondary">
	<h2>Tips</h2>
	<p><strong>Competitions</strong> are made up of stages and groups.</p>
	<p><strong>Stages</strong> organise the competition over time. A simple
	league might have two stages: one	for the main league
	part; another for play-offs. A cup might have many stages: one for each
	round up to the final.</p>
	
	<p><strong>Groups</strong> are used to split teams up within a stage. A
	simple league might only contain one group. A tournament
	might have a group stage with the teams split into
	several groups - the winners of each progressing to the
	next stage.</p>
	
	<h2>Cancel?</h2>
	<ul>
		<li><%= link_to 'Return to stage', stage_url(:competition => @competition, :stage => @stage) %></li>
	</ul>
</div>