<div class="standout">
  <p><%= truncate @organisation.summary, :length => 200 %> <%= link_to 'More information...', information_url %></p>
</div>

<div class="notices">
  <% unless @new_notices.empty? -%>
    <%= render :partial => "partials/notice", :collection => @new_notices %>
  
    <h2>More</h2>
    <p><%= link_to 'All notices...', notices_url %></p>
  <% else -%>
    <div class="notice">
      <h2>No notices</h2>
      <p>If this organisation had some notices then they would be displayed here.</p>
      <p>Notices are used to keep everyone up-to-date with the latest news. If you
        are the organiser for this organisation then why not add a few and make this
        page nicer?</p>
    </div>
  <% end -%>
</div>