<div id="primary">
  <h2>Thank you</h2>
  <p>Your comment has been saved.</p>
  <p><%= link_to 'Return to the notice with you fresh comment displayed', 
           notice_url(:notice => @notice, :anchor => "comments")%></p>
</div>

<div id="secondary">
  
</div>