<div id="primary">
	<%= render :partial => 'forms/notice' %>
</div>

<div id="secondary">
	<%= render :partial => 'partials/textile_tips'%>
	
	<h2>Cancel?</h2>
	<ul>
		<li><%= link_to 'Return to notice', notice_url(:notice => @form) %></li>
	</ul>
</div>