<p>The following people can administer this organisation.</p>

<ul class="things"><% for user in @admins %>
	<li class="user"><%= link_to user.name, edit_admin_url(:id => user) %></li><% end %>
	<li class="add_user"><%= link_to 'Add another administrator', new_admin_url, :class => 'admin' %></li>
</ul>
