<p>Hello there <%= h(current_user.name) %>. What do you want to do...?</p>

<ul>
	<li><%= link_to 'Alter the summary or logo for this organisation', edit_organisation_url %></li>
	<li><%= link_to 'Manage the people that can administer this organisation', control_panel_url(:action => 'admins') %></li>
	<li><%= link_to 'View some statistics about this site', control_panel_url(:action => 'statistics') %></li>
</ul>
