<div id="primary">
	<%= render_partial 'forms/team' %>
</div>

<div id="secondary">
	<h2>Tips</h2>
	<p>Once a <strong>Team</strong> has been created it can be placed
		in any competition.</p>
	
	<h2>Cancel?</h2>
	<ul>
		<li><%= link_to 'Return to team list', teams_url %></li>
	</ul>
</div>