<% cache do %>
  <% if @team.has_fixtures? -%>
  <% for day in @team.fixture_days %>
  <div class="day">
    <h2><%= day.pretty_date %></h2>
    <%= render :partial => 'partials/fixtures',
          :object => @team.fixtures.select {|game| game.kickoff.day == day.date.day && game.kickoff.month == day.date.month && game.kickoff.year == day.date.year } %>
  </div><% end %>
  <% else -%>
  <h2>Nothing to display!</h2>
  <p>There are no fixtures available for this team.</p>
  <% end -%>
<% end %>