<div id="primary">
	<ul id="team_list"><% for team in @teams %>
		<li><%= link_to team.title,  team_url(:team => team) %></li><% end %>
	</ul>
	<p>Psst - show team kits here as bullets/icons for eash entry in list</p>
</div>

<div id="secondary"><% if authorised? %>
	<h2>More</h2>
	<ul class="current">
		<li><%= link_to 'New team...', new_team_url %></li>
	</ul><% end %>
	
	<h2>All done?</h2>
	<ul>
		<li><%= link_to 'Return to home', home_url %></li>
	</ul>
</div>