<% if @teams.empty? -%>
<p>There are no teams yet.</p>
<% else -%>
<ul class="teams"><% for team in @teams %>
  <li><%= link_to team.title,  team_url(:team => team) %></li><% end %>
</ul>
<% end -%>  
