<div class="competitions"><% for competition in @competitions %>
  <div class="competition">
    <h2><%= link_to competition.label_or_title, competition_url(:competition => competition) %></h2>
    <ul class="stages"><% for stage in competition.stages %>
      <li class="stage pos<%= stage.position %>"><%= link_to stage.title, stage_url(:competition => competition, :stage => stage) %></li><% end %>
    </ul>
  </div><% end %>
</div>