<h1><%= @team.title %></h1>

<div id="primary">
	<p>Lots of interesting stuff will be shown here about this team.</p>
</div>

<div id="secondary">
	<h2>For this team</h2>
	<ul>
	    <li>Overview</li>
		<li>Fixtures</li>
		<li>Results</li>
	</ul>	
	
	<h2>All done?</h2>
	<ul>
		<li><%= link_to 'Return to home', home_url %></li>
	</ul>
</div>