<div id="blurb">
	<h1>Beta baby!</h1>
	<p>It's like not really ready yet.</p>
</div>

<div id="focus">
	<h2>What the hell does beta mean anyway?</h2>

	<p>Don't blame me. It's all Google's fault.</p>

	<h2>So why launch if you're not ready?</h2>
	
	<p>Don't blame me. It's all Google's fault.</p>
</div>