<div id="blurb">
	<h1>Message sent</h1>
</div>

<div id="focus">
	<h2>Thanks</h2>
	<p>We'll read your message just as soon as we can and if appropriate get in
		touch.</p>
	
	<p>Thanks for using <span class="logotype-team">Team</span><span class="logotype-squad">Squad</span>.</p>
</div>