<div id="blurb">
  <h1>Features</h1>
  
  <p>If you register then this is what you get to help sort out your sport.</p>
</div>

<div id="focus">
      
  <h2>What you get</h2>
  
  <h3>Organisation structure</h3>
  <p>This is the fundamental stuff that makes up your organisation.</p>
  
  <dl class="features">
    <dt>Teams <img src="/images/features_teams.gif" alt="Abstract shot of team list" title=""></dt>
    <dd>You can add as many teams as you like to your organisation. Teams can
      be entered into any number of competitions and each one gets its own
      home page from where its fixtures and results can easily be viewed.</dd>
      
    <dt>Seasons <img src="/images/features_seasons.gif" alt="Abstract shot of season entry form" title=""></dt>
    <dd>Everything is split up and contained within seasons. This means you
      can alter the structure of your organisation over time and still
      maintain old records. No need to start from scratch each new season.</dd>
      
    <dt>Competitions <img src="/images/features_competitions.gif" alt="Abstract shot of competition entry form" title=""></dt>
    <dd>The bread and butter of your organisation. You can create leagues,
      cups, tournaments, and all manner of things in between. Competitions
      can be broken up into stages and groups as necessary.</dd>
  </dl>
  
  <h3>Competition formats</h3>
  <p>The following types of league or cups can be managed.</p>
  <ul>
    <li>Single stage leagues where teams play each other once or multiple times</li>
    <li>Multiple stage leagues with play-offs for promotion and relegation</li>
    <li>Multiple stage knockout cups</li>
    <li>Multi-group tournaments with mixtures of league and knock out stages.</li>
    <li>Any mixture of the above!</li>
  </ul>
  
  <h3>Data display</h3>
  <p>All your stats and stuff needs to be displayed somehow.</p>
  
  <dl class="features">
    <dt>Standings <img src="/images/features_standings.gif" alt="Abstract shot of league table" title=""></dt>
    <dd>The bread and butter of your organisation. You can create leagues,
      cups, tournaments, and all manner of things in between. Competitions
      can be broken up into stages and groups as necessary.</dd>
    
    <dt>Fixtures <img src="/images/features_fixtures.gif" alt="Abstract shot of fixtures page" title=""></dt>
    <dd>You can add as many teams as you like to your organisation. Teams can
      be entered into any number of competitions and each one gets its own
      home page from where its fixtures and results can easily be viewed.</dd>
      
    <dt>Results <img src="/images/features_results.gif" alt="Abstract shot of results page" title=""></dt>
    <dd>Everything is split up and contained within seasons. This means you
      can alter the structure of your organisation over time and still
      maintain old records. No need to start from scratch each new season.</dd>
      
    <dt>Calendar <img src="/images/features_calendar.gif" alt="Abstract shot of calendar" title=""></dt>
    <dd>The bread and butter of your organisation. You can create leagues,
      cups, tournaments, and all manner of things in between. Competitions
      can be broken up into stages and groups as necessary.</dd>
  </dl>
  
  <h2>Cutting the mustard?</h2>
  <h3>Like what you see?</h3>
  <p>If this looks like what you need to get your sports organisation in
    order then go <a href="/register">register now</a>.</p>
  <h3>Not impressed?</h3>
  <p>If it doesn't look like what you want then let us know why!
    Contact us and <a href="/contact">tell us what you need</a>.</p>

</div>