<div class="box" id="splash">
	<h1>Don't let the stress of running a sports league get to you.</h1>
	<h2>Let <span class="logotype-team">Team</span><span class="logotype-squad">Squad</span>
	take the strain.</h2>
	<p><a href="/about">Find out more...</a></p>
</div>

<div class="box" id="why-players">
	<h2>For players...</h2>
	<img src="/images/whyplayer.gif" alt="picture of happy players celebrating" title="">
	<p><span class="logotype-team">Team</span><span class="logotype-squad">Squad</span>
	lets you keep up to date with the sports you play. View your fixtures,
	keep	track of results, and check your league position. And do it all
	for <strong>free</strong>.</p>
	<p><a href="/search">Search for your organisation...</a></p>
</div>

<div class="box" id="why-organisers">
	<h2>For organisers...</h2>
	<img src="/images/whyorganiser.gif" alt="picture of an offical looking chap" title="">
	<p><span class="logotype-team">Team</span><span class="logotype-squad">Squad</span>
	lets you keep the sports you manage in order. Enter in fixtures to let
	players know when to turn up. Enter results	and tables
	<strong>automatically update</strong>.</p>
	<p><a href="/register">Register your organisation now...</a></p>
</div>