<div id="blurb">
	<h1>Success!</h1>
	<p>OK, that all went well and you have successfully registered.</p>	
</div>

<div id="focus">
	<h2>Welcome onboard</h2>
	<p>Your account	has been set up is ready to use.</p>
	
	<p>To get going hop over to <%= "<a href=\"http://#{@organisation.nickname}.teamsquad.com\">your fresh new site</a>" %>
		and log in (link at top right of the page when you get there). You can then
		start adding competitions and all that jazz.</p>
</div>