<div id="blurb">
	<h1>Search</h1>
	<p>As the site isn't fully launched yet there are only a few organisations
	  set up. So, no search, just a simple list for now.</p>
</div>

<div id="focus">
	<h2>Organisations</h2>
	<dl><% for organisation in @organisations %>
		<dt><%= "<a href=\"http://#{organisation.nickname}.teamsquad.com\">#{organisation.title}</a>" %></dt>
		<dd><%= safely_display(organisation.summary) %></dd><% end %>
	</dl>
</div>