<div id="admin"><% if authorised? %>
  <p>
		<%= link_to_unless_current 'Control panel', control_panel_url %> |
	 	<%= link_to_unless_current 'Logout', logout_url %>
	</p><% else %>
  <p><%= link_to_unless_current 'Login', login_url %></p><% end %>
</div>