<div id="admin">
  <p><% if authorised? %>
		<%= link_to_unless_current 'Control panel', control_panel_url %> |
		<%= link_to_unless_current 'Help', help_url %> |
	 	<%= link_to_unless_current 'Logout', logout_url %>
	<% else %>
  	<%= link_to_unless_current 'Login', login_url %>
	<% end %></p>
</div>