<div id="foot"><div class="inner">
  <h2>Service provided by <a href="http://www.teamsquad.com/"
    title="Where sport gets organised">TeamSquad</a></h2>
  <p>We provide web sites for local and amateur sport leagues.
    Why not <a href="http://www.teamsquad.com/"
      title="Where sport gets organised">get your own sport website</a>?</p>
</div></div>
