<div id="foot">
	<h2>Service provided by <a href="http://www.teamsquad.com/"
    title="Where sport gets organised">TeamSquad</a></h2>
	<p>We provide web sites for local and amateur sport leagues.
		Why not get your own one?</p>
</div>
