<div id="foot"><div class="inner">
  <h2>Service provided by <a href="http://www.teamsquad.com/"
    title="Where sport gets organised">TeamSquad</a></h2>
  <p>We provide web sites for local and amateur sport leagues.
    Why not get your own one?</p>
    
    <p id="admin"><% if authorised? %>
      <%= link_to_unless_current 'Control panel', control_panel_url, :class => 'button' %>
      <%= link_to_unless_current 'Help', help_url, :class => 'button' %>
      <%= link_to_unless_current 'Logout', logout_url, :class => 'button' %>
      <% else -%>
      <%= link_to_unless_current 'Login', login_url, :class => 'button' %>
      <% end -%>
    </p>
</div></div>
