<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="en-gb">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="shortcut icon" href="/favicon.ico?v2" type="image/x-icon" />
<title><%= @titles.join(' - ') %></title>
<%= stylesheet_link_tag @organisation.theme, :media => "all" %>
<%= csrf_meta_tags %>
<%= javascript_include_tag "application" %>
