<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="en-gb">
<title><%= @titles.join(' - ') %></title>
<%= stylesheet_link_tag "organisation", :media => "all" %>
<style type="text/css" media="screen">
<% if @organisation.has_logo? %>h1 {
	background: url(/uploads/<%= "organisation/logo/#{@organisation.id}/#{@organisation[:logo]}" %>) no-repeat top left;
}<% end %>
</style>
<%= csrf_meta_tags %>
<script src="/javascripts/prototype.js"></script>
<script src="/javascripts/effects.js"></script>
<script src="/javascripts/controls.js"></script>
<script src="/javascripts/dragdrop.js"></script>
<script src="/javascripts/application.js"></script>
