<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="en-gb">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" href="/favicon.ico?v2" type="image/x-icon" />
<title><%= @titles.join(' - ') %></title>
<link href="http://fonts.googleapis.com/css?family=Capriola" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag @organisation.theme, :media => "all" %>
<style type="text/css" media="screen">
<% if @organisation.has_logo? %>h1 {
	background: url(/uploads/<%= "organisation/logo/#{@organisation.id}/#{@organisation[:logo]}" %>) no-repeat top left;
}<% end %>
</style>
<%= csrf_meta_tags %>
<script src="/javascripts/prototype.js"></script>
<script src="/javascripts/effects.js"></script>
<script src="/javascripts/controls.js"></script>
<script src="/javascripts/dragdrop.js"></script>
<script src="/javascripts/application.js"></script>
