<div id="search">
	<% form_tag search_url, {:method => 'GET'} do %>
		<label for="in_term">Search this organisation</label>
		<input type="text" name="term" id="in_term" value="Enter search term" onfocus="if (this.value == 'Enter search term') {this.value = ''}">
		<input type="submit" value="Go" class="clickable" title="Click this button and we'll go look for your stuff">
	  <div id="term_auto_complete"></div>
    <script type="text/javascript">
		function doPick(arg) {
			document.location = arg.firstChild.href;
			return false;
		}
    
		// Safari fixes...

		$('in_term').onkeypress = killIt;

		function killIt (e) {
		  if (e.keyCode == 13) {
		    return false;
		  }
		  return true;
		}

		new Ajax.Autocompleter('in_term', 'term_auto_complete', '/live_search', {updateElement: doPick});
    </script>
	<% end %>
</div>
