<%= render_partial "layouts/doctype" %>
<html lang="en">
<head>
<%= render_partial "layouts/head" %>
</head>
<body class="organisation"><div id="container">
<%= render_partial "layouts/orgtitle" %>
<%= @content_for_layout %>
<%= render_partial "layouts/admin" %>
<%= render_partial "layouts/search" %>
<%= render_partial "layouts/foot" %>
</div></body>
</html>