<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="en-gb">
<link href="/stylesheets/www.css"      rel="Stylesheet" type="text/css">
<title><%= @page_title || 'TeamSquad - organising local and amateur sport' %></title>
</head>
<body class="<%= controller.action_name %>">
<div id="container">
<div id="content">
<div id="mast">
	<span class="logotype-team">Team</span><span class="logotype-squad">Squad</span>
	<span class="beta">so alpha it smarts (<a href="/beta">Huh?</a>)</span>
</div>
<%= @content_for_layout %>
</div>
<div id="foot">
<p id="smallprint">
	<a href="/">Home</a> |
	<a href="/about">About us</a> |
	<a href="/disclaimer">Disclaimer</a> |
	<a href="/privacy">Privacy policy</a> |
	<a href="/contact">Contact us</a>
</p>
</div>
</div>
</body>
</html>